{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcf-images.us-east-1.prod.boltdns.net%2Fv1%2Fstatic%2F6157254766001%2F66bb90c9-17e8-4f27-94ee-4c899766b09e%2F33adc5c3-3e59-4580-b9e1-51560fb01754%2F1280x720%2Fmatch%2Fimage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Golden retriever</h5>
                  <p class="card-text">Love machine</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcf-images.us-east-1.prod.boltdns.net%2Fv1%2Fstatic%2F6157254766001%2F66bb90c9-17e8-4f27-94ee-4c899766b09e%2F33adc5c3-3e59-4580-b9e1-51560fb01754%2F1280x720%2Fmatch%2Fimage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Golden retriever</h5>
                  <p class="card-text">Love machine</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcf-images.us-east-1.prod.boltdns.net%2Fv1%2Fstatic%2F6157254766001%2F66bb90c9-17e8-4f27-94ee-4c899766b09e%2F33adc5c3-3e59-4580-b9e1-51560fb01754%2F1280x720%2Fmatch%2Fimage.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Golden retriever</h5>
                  <p class="card-text">Love machine</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
    </div>
{% endblock %}